body {
  background: url(../images/background8.jpg) no-repeat center fixed;
  background-size: cover;
}

// ### Header styles begin here ###

#heroImg {
  border-radius: calc(0.2vw + 0.2vh + 0.1vmin);
  background-image: url("../images/header.jpg");
  padding-bottom: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

// ### Navbar styles begin here ###

li {
  list-style-type: none;
}

#jokes {
  width: 100%;
}

// ### Hide the scrollbar in Chrome, Safari and Opera ###

::-webkit-scrollbar {
  display: none;
}

// ### Hide the scrollbar in Firefox ###

html {
  scrollbar-width: none;
}

.manageProduct {
  margin: auto;
}

.img-thumbnail {
  width: 70px !important;
  height: 70px !important;
}

td {
  text-align: left;
  vertical-align: middle;
}

tr {
  text-align: center;
}

#map {
  height: 100%;
}
